<article class="card">
  <div class="card__image">
    <img src="<%= product.prodImage %>" alt="Logitech MX Master 3" />
  </div>
  <header class="card__header">
    <h1><%= product.title %></h1>
  </header>

  <div class="card__content">
    <h2 class="mb-small">$<%= product.price %></h2>
    <p><%= product.description %></p>
  </div>
  <div class="card__actions">
    <% if(path === '/admin/products') { %>
    <a class="btn btn-secondary" href="/admin/edit-product/<%= product._id %>"
      >Edit</a
    >
    <form action="/admin/delete-product" method="POST">
      <input name="productId" value="<%= product._id %>" type="hidden" />
      <button class="btn btn-danger" type="submit">Delete</button>
    </form>
    <% } else { %>
    <a class="btn btn-primary" href="/products/<%= product._id %>">Details</a>
    <form action="/cart" method="POST">
      <button class="btn btn-primary" type="submit">Add to cart</button>
      <input type="hidden" name="productId" value="<%= product._id %>" />
    </form>
    <% } %>
  </div>
</article>
